<header>
    <h1>Welcome to this<img id="logo" src="media/expressjs.png"/>demo</h1>
    <h2>Please insert your <span class="bold">name</span> and your <span class="bold">birth date</span></h2>
</header>

<form id="register" class="card" method="post" action="/">
    <label>Name <span class="mandatory">*</span></label>
    <input type="text" name="name">
    <label>Birth date <span class="mandatory">*</span></label>
    <input id="birthday" name="birthday" />
    <hr>
    <input type="submit" class="btn btn-primary" value="Go!">
</form>

<script src="js/index.js"></script>
