<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Express DEMO</title>

        <!-- Styles -->
        <link rel="stylesheet" href="css/index.css"/>

        <!-- Scripts -->
        <script src="js/bundle.js"></script>
    </head>

    <body>

        {{{body}}}

    </body>
</html>